body
{
    background-size: cover;
    background-position: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

a{
    background-color: rgb(190, 125, 125);
    -webkit-text-fill-color:black ;
    font-size: 23px;
    padding: 50px;
    margin: 100px;
    position: center;
}